<div class="quadrado">
  <div class="aguarde m-3">Aguarde até ser atendido</div>
  <div class="aguarde m-3">Sua posição na fila é</div>
  <app-contador-fila></app-contador-fila>
  <app-quantidade-espera></app-quantidade-espera>
</div>
<div class="modal fade" id="exampleModal" data-bs-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">É a sua vez</h2>
      </div>
      <div class="modal-body">
        Você foi chamado para inicar o atendimento, deseja entrar?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="desconectar()">Não</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="conectar()">Sim</button>
      </div>
    </div>
</div>
