.background{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.conteudo{
    display: flex;
    height: 100vh;
    .conteudoLogin{
        width: 400px;
        height: 300px;
        margin:auto;
        background: #fff;
        display: flex;
        align-items: center;
        flex-direction: column;
        opacity: 0.9;
        box-shadow: 15px 19px 12px -5px rgba(0,0,0,0.1);
        border-radius: 2em;
        .logo{
            padding-top: 20px;
            width: 85%;
        }


        .inputNome{
            padding-top: 25px;
            padding-bottom: 10px;
        }
        .buttons{
          display: flex;
          justify-content: space-between;
          width: 75%;
          .buttonLoginProfessor{
            width: 140px;
            height: 30px;
            background: #013453;
            border-radius: 1.4422px;
          }
          .buttonVoltar{
            width: 140px;
            height: 30px;
            background: #013453;
            border-radius: 1.4422px;
         }
      }
    }
}
