<div id="sticker" class="header-area hidden-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <div class="imgUTFPR">
                                        <img src="assets/images/logo-UTFPR.png" class="logo" />
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <div class="nameProfessor">
                                        <div class="msgProfessor">
                                            Bem-Vindo Professor(a):
                                        </div>
                                        <div class="fila">
                                            <span>{{ professor }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>

    
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="tamVideo">
            <div class="video" >
                <img src="assets\images\SemVideo.png" class="imgVideo" *ngIf="videoImg == true" />
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="direita">

            <div class="buttonLeave">
                <button
                    class= "atend"
                    (click) = "sair()"
                    >
                    SAIR
                </button>
            </div>
    
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                click here
            </a>
            <div class="collapse" id="collapseExample">
                <div id="div-botoes">
                    <button
                    class="atend-chamar-encerrar"
                    (click) = "chamarProximo()"
                    >
                    Chamar Próximo
                    </button>
                
                    <button
                    class="atend-chamar-encerrar"
                    (click) = "encerrarAtendimento()"
                    >
                    Encerrar Atendimento
                    </button>
                </div>
            </div>
        </div>         
    </div>
</div>