
<div class="row">
    <div class="col-8">
        <div class="div-esquerda">
            <div class="logoUTFPR">
                <img src="assets/images/logo-UTFPR.png" class="logo" />
            </div>
            <div class="msg">
                Atendimento remoto UTFPR !!
            </div>
            <div class="video">
                <img src="assets\images\SemVideo.png" class="imgVideo" *ngIf="videoImg == true" />
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="div-direita">
            <button
            class= "atend"
            (click) = "sair()"
            >
                SAIR
            </button>

            <div class="ng-sidebar-content">
                <button class = "botaoSideBar" (click) = "toggleSidebar()" >
                    <span class="material-icons">
                        list
                    </span>
                </button>
            </div>
            
            <ng-sidebar-container>
                
                <ng-sidebar position="right" [(opened)]="opened" >
                    <div class="informacoes-laterais">
                        <div class="bloco-atendendo">
                            <div class="card card-atendendo">
                                <div class="card-header text-center">Bem-Vindo Professor:</div>
                                <div class="conteudo-atendendo">
                                    <div class="fila">
                                        <span>{{ professor }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        <div id="atendimento">
                            <div class="card card-atendendo">
                                <div id="header" class="card-header text-center">
                                    Quantidade de alunos em espera
                                </div>
                                
                                <div class="bloco-quantidade-fila">
                                    <div class = "contador">
                                        <app-contador-fila [isProfessor]="teste"></app-contador-fila>
                                    </div>
                                </div>
                                
                                <div id="div-botoes">
                                    <button
                                    class="atend-chamar-encerrar"
                                    (click) = "chamarProximo()"
                                    >
                                    Chamar Próximo
                                </button>
                                
                                <button
                                class="atend-chamar-encerrar"
                                (click) = "encerrarAtendimento()"
                                >
                                Encerrar Atendimento
                            </button>
                        </div>
                    </div>
                </div>
                <div class="sideBar">
                    <div class="nomeLista">
                        Ordem da Fila
                    </div>
                    
                    <div class="bloco-fila">
                        <div class = "contador" *ngFor="let item of alunos; let i = index">
                            {{i+1}} -> RA:{{ item }}
                        </div>
                    </div>
                </div>
            </div>
        </ng-sidebar> 
    
    </ng-sidebar-container>
        </div>
</div>
</div>

