.circulo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0B435E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
}