<img src="assets/images/fundo-tela-login.png" class="background">

<div class="conteudo">
    <div class="conteudoLogin">

        <img src="assets/images/logo-UTFPR.png" class="logo">
        
        <form [formGroup]="form">
            <div class="inputRA">
                <div class="form-group">
                    <label for="ra"
                    >Número do RA <span class="text-danger">*</span></label
                    >
                    <input
                    type="text"
                    formControlName="ra"
                    placeholder="Insira o seu RA"
                    class="form-control"
                    autofocus
                    pattern="\d*"
                    [ngClass]="{
                        'is-invalid': fn?.['ra']?.errors && fn?.['ra']?.touched,
                        'is-valid': !fn?.['ra']?.errors && fn?.['ra']?.touched
                    }"
                    />
                    <div
                        *ngIf="fn?.['ra']?.errors?.['required'] && fn?.['ra']?.touched"
                        class="campo-obrigatorio"
                        >
                        RA é obrigatório
                    </div>
                </div>
            </div>
        </form>
        
        <button
        class="buttonLoginAluno"
        style="color:white"
        (click)="onSubmit()"
        >

        ENTRAR
        </button>   

    </div>
</div>


