:host {
    bottom: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    }
    
    .notificacao {
    background: #efefef;
    border-radius: 8px;
    color: #333;
    display: flex;
    margin: 8px;
    padding: 24px;
    }
    
    .notificacao > div:nth-child(1) {
    flex-grow: 1;
    }
    
    .notificacao > div:nth-child(2) {
    cursor: pointer;
    }