
<div class="row">

    <div class="col-8">
        <div class="div-esquerda">
            <div class="logoUTFPR">
                <img src="assets/images/logo-UTFPR.png" class="logo" />
            </div>
            <div class="msg">
                Atendimento remoto UTFPR !!
            </div>
            <div class="video">
                    <!-- <img src="assets/images/SemVideo.png" class="novideo." />  -->
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="div-direita">
            <button
            class= "atend"
            (click) = "sair()"
            >
                SAIR
            </button>

            <div class="informacoes-laterais">
                <div class="bloco-atendendo">
                    <div class="card card-atendendo">
                        <div class="card-header text-center">Bem-Vindo a Reunião:</div>
                        <div class="conteudo-atendendo">
                            <div class="fila">
                                <span>{{ aluno }}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
     </div>
 </div>

