
#sticker{
  background: url('https://media.tribunadointerior.com.br/2021/06/f325f4d7-6071e4fa519d7-utfpr.jpg');
  background-size: 100%;
  padding: 5px;
  height: 13%;
  border-width: 1px;
  border-color: black;
  border-style: groove;
  .logo{
    margin-top: 2%;
    width: 70%;
  }
  .col-sm-9{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    
      .msgProfessor{
        font-weight: bolder;
        font-size: 17px;
      }
      .fila{
        font-weight: bolder;
        font-size: 17px;
        
      }
  }
}
  
  .row{
    height: 75%;
    .buttonLeave{
      width: 55px;
      float: right;
      margin-right: 8%;
      margin-top: 3%;
      .atend {
        font-size: 15px;
        width: 106%;
        background-color: #ff0000;
        color: white;
        border-radius: 9px;
        margin: 0% 14%;
        line-height: 24px;
      }
    }
    .tamVideo{
    height: 100%;
    width: 100%;
    margin-top: 2%;
    display: center;
    .video{
      position: relative;
      height: 100%;
      width: 100% ;
      margin: 0px 1%;
      z-index: 1047;
      .imgVideo{
        height: 100%;
        width: 100%;
        z-index: -1;
      }
    }
  }
}