<table
    mat-table
    [dataSource]="historico"
    class="table table-striped table-hover"
  >
<ng-container matColumnDef="ra">
    <th mat-header-cell *matHeaderCellDef class="table-dark">
      RA
    </th>
    <td mat-cell *matCellDef="let element">{{ element.ra }}</td>
  </ng-container>

  <ng-container matColumnDef="professor">
    <th mat-header-cell *matHeaderCellDef class="table-dark">
      Professor
    </th>
    <td mat-cell *matCellDef="let element">{{ element.professor }}</td>
  </ng-container>

  <ng-container matColumnDef="avaliacao">
    <th mat-header-cell *matHeaderCellDef class="table-dark">
        Avaliação
    </th>
    <td mat-cell *matCellDef="let element">{{ element.avaliacao }}</td>
  </ng-container>

  <ng-container matColumnDef="comentario">
    <th mat-header-cell *matHeaderCellDef class="table-dark">
      Comentario
    </th>
    <td mat-cell *matCellDef="let element">{{ element.comentario }}</td>
  </ng-container>
  
  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef class="table-dark">
      Data
    </th>
    <td mat-cell *matCellDef="let element">{{ element.created_date }}</td>
  </ng-container>
  
  <ng-container matColumnDef="horario">
    <th mat-header-cell *matHeaderCellDef class="table-dark">
      Horario
    </th>
    <td mat-cell *matCellDef="let element">{{ element.horario }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="headerTable"></tr>
  <tr mat-row *matRowDef="let row; columns: headerTable"></tr>
</table>